/*Reset*/

* {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}


/*reset end*/

body {
  line-height: 1;
  color: black;
  background: white;
}

#wrapper {
  margin: 0 auto;
  width: 960px;
}

header {
  background: url(../img/buntingSlice3.png)repeat-x;
  /*margin:0 10px;*/
  width: 940px;
}

#logo h1 {
  display: block;
  padding-top: 75px;
  color: #0d0c0c;
  text-transform: uppercase;
  font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  font-size: 48px;
}

#logo span {
  color: #dfdada;
}

nav {
  padding-bottom: 25px;
  margin-top: 26px;
  padding-right: 10px;
  padding-left: 10px;
  /*padding: 0 10px 25px 10px;*/
  width: 940px;
  background-repeat: repeat-x;
  background-image: url(../img/atwiNavBg.png);
  border-bottom: 4px double #bfbfbf;
}

nav ul li {
  display: inline;
}

nav ul li a {
  height: 42px;
  line-height: 42px;
  margin-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  25 font-family: Arial, "Lucida Grande", Verdana, sans-serif;
  font-size: 27px;
  color: black;
}

#content {
  margin-top: 58px;
  margin-right: 10px;
  float: right;
  width: 698px;
}

.oscarMain {
  float: left;
  margin-top: -28px;
  width: 202px;
}

#content h1 {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 69px;
}

#content h1 span {
  display: block;
  line-height: 40px;
  color: #757474;
  font-size: 38px;
}

#content p {
  line-height: 40px;
  color: #757474;
  font-size: 24px;
}

aside {
  border-right: 2px solid #e8e8e8;
  margin: 58px 20px 0 10px;
  float: left;
  width: 220px;
}

aside h4 {
  margin-bottom: 20px;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.overHyped {
  margin-top: 27px;
}

footer {
  float: left;
  margin: 20px 10px 0 10px;
  padding: 33px 0 43px;
  /*background-position: 0 bottom;
background-repeat: repeat-x;
background-image: url(../img/buntingSlice3Invert.png);*/
  background: url(../img/buntingSlice3Invert.png) repeat-x 0 bottom;
  width: 940px;
  border-top: 4px double #bfbfbf;
  clear: both;
}

footer p {
  margin-bottom: 38px;
  text-align: center;
  font-size: 13px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  text-transform: uppercase;
  color: #757474;
}